input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField, .select2-container--jet .select2-selection {
    border: 0.07143rem solid #44b78b !important;
}

.changeform-tabs-item a, .changeform-tabs-item a:hover, .changeform-tabs-item a:visited {
    color: #62a29c;
}

.changeform-tabs-item.selected a, .changeform-tabs-item.selected a:hover, .changeform-tabs-item.selected a:visited {
    color: #fff;
    background: #62a29c;
    border-color: #236B64;
}

.ifag-help {
    color: darkgoldenrod;
    cursor: help;
}

.quotationField {
    width: 60px;
    padding: 3px !important;
    text-align: right;
}

/* Para remover as setas de adição e subitração dos campos numericos */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}