{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block title %}Histórico de Indicadores{% endblock %}

{% block result_list %}
    <!-- lista de resultados-->
    {% result_list cl %}
    <style>
        #result_list tbody td:nth-child(6) {
            text-align: right;
        }
    </style>
    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function () {
            /* Removendo a coluna com o checkbox */
            jQuery('th.action-checkbox-column, td.action-checkbox').remove()
        });
    </script>
{% endblock %}