{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list jet_tags propeller ifag_tags %}

{% block title %}Registrar Cotações{% endblock %}

{% block extrahead %}
    <!-- extrahead -->
    <script type="text/javascript" src="/jsi18n/"></script>
    {{ search_form.media }}
    <!-- /extrahead -->
{% endblock %}


{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='ifag' %}">IFAG</a>
        &rsaquo; Registrar cotações
    </div>
    <!-- /breadcrumbs -->
{% endblock %}


{% block date_hierarchy %}
    <!-- date_hierarchy/ --!>
{% endblock %}

{% block search %}
    <!-- search -->
    <form enctype="multipart/form-1data" action="" method="get"
          id="search_form" novalidate="">
        <div>
            <fieldset class="module aligned  module_0 initialized">
                {% propeller_form search_form form_group_class='form-row' addon_before='div' error_css_class='errors' %}
            </fieldset>
        </div>
        <div class="submit-row">
            <input type="submit" value="Filtrar" class="default"
                   name="_save">
        </div>
    </form>
    <!-- /search -->
{% endblock %}


{% block result_list %}
    <!-- result_list -->
    <div class="results" style="margin-top: 15px">
        {% if source_indicator_city %}
            <table id="result_list" class="fill_width">
                <thead>
                <tr>
                    <th>Fonte</th>
                    {% for indicator in indicators %}
                        <th>{{ indicator.name }}</th>
                    {% endfor %}
                </tr>

                </thead>
                <tbody>

                {% for source in sources %}
                    <tr>
                        <th>
                            {{ source.name }}
                            {% if source.obs %}
                                <span class="icon-question ifag-help"
                                      title="{{ source.obs }}"></span>
                            {% endif %}
                        </th>
                        {% for indicator in indicators %}
                            <td>
                                {% ifag_quotation_field source indicator city source_indicator_city quotations %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <ul class="messagelist">
                <li class="info">Nenhuma fonte de informação encontrada.
                </li>
            </ul>
        {% endif %}
    </div>
    <!-- /result_list -->

    <!-- eventos do form cotações -->
    <script type="text/javascript" charset="utf-8">
    var server_date = "{% now "Y-m-d" %}";
    </script>
    <script type="text/javascript" charset="utf-8"
            src="{% static 'ifag/quotation_insert.js' %}"></script>
    <!-- /eventos do form cotações -->

{% endblock %}


{% block pagination %}
    <!-- pagination/ -->
{% endblock %}
